
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
  font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}

body {
	background-color: #f5f5f5;
	font-family: Arial, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
}

h1 {
	margin-top: 0;
	text-align: center;
	color: #333;
}

.ok {
	margin: 20px auto;
	width: 100%;
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #ccc;
	border-radius: 4px;
	overflow: hidden;
}

.ok:hover {
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#img-preview {
	max-width: 100%;
	max-height: 100%;
}

.upload-button {
	display: block;
	margin: 20px auto;
	background-color: #007bff;
	color: #fff;
	border: none;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	border-radius: 4px;
	transition: background-color 0.3s;
}

.upload-button:hover {
	background-color: #0069d9;
}

#image-input {
	display: none;
}

#convert-button {
	display: block;
	margin: 20px auto;
	background-color: #007bff;
	color: #fff;
	border: none;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	border-radius: 4px;
	transition: background-color 0.3s;
}

#convert-button:hover {
	background-color: #0069d9;
}

#data-uri {
	display: block;
	width: 100%;
	min-height: 100px;
	padding: 10px;
	box-sizing: border-box;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: none;
	font-family: Consolas, monospace;
	font-size: 14px;
	line-height: 1.5;
}

#copy-button {
	position: relative;
	overflow: hidden;
  left: 300px;
	background-color: #fff;
	color: #007bff;
	border: 1px solid #007bff;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	border-radius: 4px;
	transition: background-color 0.3s;
}

#copy-button:hover {
	background-color: #0069d9;
}

#copy-button:before {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	transition: opacity 0.3s;
}

#copy-button:active:before {
	opacity: 1;
}

#copy-button:hover:before {
	opacity: 1;
}

#copy-button:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.1);
	z-index: -1;
	opacity: 0;
	transition: opacity 0.3s;
}

#copy-button:hover:after {
	opacity: 1;
}

/* Responsive Design */
@media screen and (max-width: 600px) {
  * {
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 100%;
    margin: 0;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

h1 {
    margin-top: 0;
    text-align: center;
    color: #333;
}

.ok {
    margin: 10px auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
}

.ok:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#img-preview {
    max-width: 100%;
    max-height: 100%;
}

.upload-button {
    display: block;
    margin: 10px auto;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;

    
}

.upload-button:hover {
    background-color: #0069d9;
}

#image-input {
    display: none;
}

#convert-button {
    display: block;
    margin: 10px auto;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

#convert-button:hover {
    background-color: #0069d9;
}

#data-uri {
    display: block;
    width: 100%;
    min-height: 100px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    font-family: Consolas, monospace;
    font-size: 14px;
    line-height: 1.5;
}

#copy-button {
    position: relative;
    overflow: hidden;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    color: #007bff;
    border: 1px solid #007bff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

#copy-button:hover {
    background-color: #0069d9;
}

#copy-button:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s;
}

#copy-button:active:before {
    opacity: 1;
}

#copy-button:hover:before {
    opacity: 1;
}

#copy-button:after {
    content: "";
    position:relative;

}
}
